@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grid-size: 450px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #06aac4;
  color: #fff;
}

h1 {
  margin: 3rem 0;
  font-size: 3rem;
}

.marker-turn {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.board {
  width: var(--grid-size);
  height: var(--grid-size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  cursor: pointer;
  border: 5px solid #067181;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #fff;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:last-child {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
  border-bottom: none;
}

.end-game-display {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.end-game-message {
  margin-top: 35rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.restart {
  font-family: inherit;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #4b5964;
  font-size: 1rem;
  font-weight: 700;
  transition: transform 0.12s;
}

.restart:hover {
  transform: scale(1.05);
}

.show {
  display: flex;
}
